@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ec9123;
  --color-secondary: #1b1024;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #dbdbdb;
  --color-color: #6c6c6c;
}


